* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

:root {
  --baggrund: ;
  --primary: #ffffff;
  --farve1: #fa00ff;
  --farve2: #3489fd;
  --farve3: #000000;
  --farve1hover: #fb00ff7d;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #3489fd;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: var(--primary);
}

h2 {
  font-family: "Roboto", sans-serif;
  color: var(--primary);
}

h3 {
  font-family: "Roboto", sans-serif;
  color: var(--primary);
}

p {
  font-family: "Roboto", sans-serif;
  color: var(--primary);
}
