---
import Layout from "../Layout.astro";
import Headmenu from "../components/Headmenu.astro";
import Banner from "../components/Banner.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro"
---

<Layout>
  <h2>Om os</h2>
  <Banner />
  <Nyhedsbrev/>
  
</Layout>

<style>
  h2 {
    p
  }
</style>
