---
import Layout from "../Layout.astro";
import Nyhedsbrev_footer from "../components/Nyhedsbrev_footer.astro";
import Vaerk from "../components/Vaerk.astro";
import Headmenu from "../components/Headmenu.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Layout>
      <Vaerk />
    </Layout>
  </body>
</html>
