---

---

<section>
  <p>
    2-25. Februar &nbsp;-&nbsp; København &nbsp;-&nbsp; 2-25. Februar&nbsp; -
    &nbsp;København &nbsp;-&nbsp; 2-25. Februar &nbsp;- &nbsp;København
    &nbsp;-&nbsp; 2-25. Februar&nbsp; - &nbsp;København &nbsp;- &nbsp;København
    &nbsp;-&nbsp; 2-25. Februar&nbsp; - &nbsp;København &nbsp;- &nbsp; 2-25.
    Februar&nbsp; - &nbsp;København &nbsp;- &nbsp;København &nbsp;-&nbsp; 2-25.
    Februar&nbsp; - &nbsp;København &nbsp;- &nbsp;
  </p>
</section>

<style>
  p {
    display: inline-block;
    color: white;
    font-size: 20px;
    text-align: center; /* Juster teksten som ønsket */
    white-space: nowrap; /* Hindre linjeskift */
    width: 100%;
    overflow: hidden;
  }
  section {
    width: 100%; /* Sørg for at containeren tar opp hele bredden av foreldreelementet */
    overflow: hidden;
  }
  @media (min-width: 800px) {
    p {
      font-size: 30px;
    }
  }
</style>
