---

---

<section>
  <img src="billeder/logo.svg" alt="logo" class="logo" />
  <p>2-25. Februar 2024 @København</p>
  <div class="ikoner">
    <img src="billeder/sprog.svg" alt="sprog logo" />
    <img src="billeder/search.svg" alt="search logo" />
    <img src="billeder/burgermenu.svg" alt="burgermenu logo" />
  </div>
</section>

<style>
  .logo {
    width: 100px;
  }

  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .ikoner {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  p {
    color: var(--primary);
  }
</style>
