---

---

<section class="information">
  <div class="info_tekst">
    <p>©COPENHAGEN LIGHT FESTIVAL</p>
  </div>
  <div class="info_flex">
    <p>info@copenhagenlightfestival.org</p>
    <p>Tlf. +45 25 55 66 04</p>
  </div>
</section>

<style>
  .information {
    padding-top: 60px;
    gap: 5px;
    justify-content: center;
  }

  .info_flex {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 15px;
    text-align: center;
  }

  .info_tekst {
    text-align: center;
  }

  @media (min-width: 800px) {
    .information {
      display: flex;
      flex-direction: row;
      text-align: center;
      gap: 55px;
    }

    .info_flex {
      gap: 55px;
      font-size: 17px;
    }
  }
</style>
