---

---

<div>
  <button> Events </button>
</div>

<style>
  button {
    border: 2px solid #ffffff;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    color: var(--primary);
    background-color: transparent;
    margin-top: 30px;
  }
</style>
