---

---

<section class="logoer">
  <img src="billeder/youtube.svg" alt="youtube logo" />
  <img src="billeder/instagram.svg" alt="instagram logo" />
  <img src="billeder/facebook.svg" alt="facebook logo" />
</section>

<style>
  .logoer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .logoer img {
    height: 40px;
    width: 40px;
  }
</style>
